#root {
    background: white;
    color: #041E42;
}
::placeholder {
    color: rgba(81, 70, 137, 0.3);
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(81, 70, 137, 0.3);
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(81, 70, 137, 0.3);
}
a {
    color: rgba(239, 66, 111, 1);
    text-decoration: none;
}
a:hover {
    color: rgba(81, 70, 137, 1)
}